<!-- <ion-view class="row row-center" view-title={{home.currentLanguage.homeText}}> -->
<ion-view class="row row-center db-home" view-title="DBZ MULTIVERSE COMIC">
    <button ng-click="home.setStartUrl()" class="main-font button button-outline button-assertive button-block col col-center">
      <img src="img/book.png">
      <div class="go"> <div class="ion-ios-star"></div></div>
    </button>
</ion-view>
