<ion-view view-title={{languages.currentLanguage.languagesText}}>
  <ion-content>
    <div class="row">
      <img ng-src={{language.imgURL}} class="col col-15" ng-repeat="language in languages.languages" ng-click="languages.setAsCurrentLanguage(language)" />
    </div>
    <div class="bar bar-footer bar-assertive" ng-show="!languages.chooseLanguage">
      <div class="title">{{languages.currentLanguage.selectLanguage}}</div>
    </div>
  </ion-content>
</ion-view>
