<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-assertive">

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left" ng-click="menu.setCurrentLanguage()">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">

      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-assertive">
      <h1 class="title main-font">DBZ MULTIVERSE COMIC<!-- {{menu.currentLanguage.menuText}} --></h1>
    </ion-header-bar>
    <ion-scroll style="height: 100%;padding-top: 44px;">
      <ion-list>
        <!-- <ion-item menu-close href="#/app/language"> -->
        <ion-item menu-close ng-click="menu.showLanguagesPopup()">
          <div class="row mylanguage">
            <img class="col col-20 language-icon" ng-src={{menu.currentLanguage.imgURL}} />
          </div>
        </ion-item>
        <ion-item menu-close class="myChapter">
          <div class="row chapters-row">
            <a class="col col-50" ng-repeat="chapter in menu.chapters" href="#/app/chapters/{{chapter.id}} ">
              <div class="item item-header main-font">
                <h2>{{menu.currentLanguage.chapterText + ' ' + chapter.id}}</h2>
              </div>
              <div class="item item-image">
                <img ng-src={{chapter.coverImage}}>
              </div>
            </a>
          </div>
        </ion-item>
      </ion-list>
    </ion-scroll>
  </ion-side-menu>
</ion-side-menus>
