a{
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: #212121;
}
.item {
  padding: 5px;
 }
.chapters-row{
  flex-wrap: wrap;

}
.myChapter{
  background-color: rgb(240, 240, 240);
  }
.chapters-row .item{padding: 5px;}
.item-header{
  padding: 12px 8px !important;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border:1px solid #B6B6B6;
  text-align: center;
  text-decoration: none;
}
.item-header h2{
  font-weight: 400;
  font-size: 17px;
  color: #333;
  overflow: visible;

}
.item .item-image{
  border:1px solid #B6B6B6;
}

.list.card .item-content{padding: 16px;}
.slider-pager{bottom: 15px;}
.slider-pager .slider-pager-page {width: 10px;}
.page-image{width: 100%;}
.language-icon{height: 100%;margin-left: 40%;}
.language-image{width: 50%;padding: 10px 25px;}
.popup-container .popup {
  width: 250px;
  max-width: 100%;
  max-height: 90%;
  background-color: rgba(235, 235, 235, 1);
}
.bar.bar-assertive {
  border-color: rgba(0,0,0,0.3);
  border-bottom-width: 3px;
  border: none;
  background-color: #D32F2F;
  background-image: none;
  color: #D32F2F;
  font-family: 'Oswald', sans-serif;
}
.button.button-assertive.button-outline.active, .button.button-assertive.button-outline.activated {
    background-color: #D32F2F;
}
.main-font,
.main-font h1,
.main-font h2,
.main-font h3,
.main-font h4,
.main-font h5,
.main-font h6{
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.5px;
}

.db-home {background-color: #D32F2F;}
.db-home button{
  border:none;
  height: 80%;
}
.db-home button img{
  box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.5);
  width: 50%;
  top:0px;
  position: relative;
  /*animation-name: hibook;
    animation-duration: 1s;
    animation-iteration-count: infinite;*/
}
/*@keyframes hibook {
    0%   {}
    50%  {
      box-shadow: 0px 8px 15px 5px rgba(0,0,0,0.2);
      width: 52%;
      top: -5px;
    }
    100% {}
}*/
.db-home button div.go{
  position: absolute;
  color: #D32F2F;
  font-size: 20px;
  bottom: 40px;
  text-align: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #FF9800;
  margin: -25px;
  left: 50%;
  box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.2),
  inset 0px -5px 0px  rgba(254,86,33,0.5),
  inset 3px 3px 0px  rgba(255,255,255,0.3);
}
.db-home button div.go div:before{
  text-shadow: 0px 2px 0px rgba(0,0,0,0.2);
}
.transparent {
  background: rgba(0,0,0,0.5) !important;
}
.image-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
}
.tutorial-image {
  max-width: 100%;
  max-height: 80%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}
.slider {
  width: 100%;
  height: 100%;
}
